*{
    box-sizing: border-box;
}

body{
    background-color: white;
}

.header,.footer{
    background-color: gray;
    padding: 20px;
    color: white;
}

.main{
    display: inline-block;
}

.main::after{
    content: "";
    clear: both;
    display: table;
}

.menu{
    float: left;
    padding: 20px;
    background-color: lightblue;
    /* height: 200px; */
    width: 25%;
}

.content{
    width: 75%;
    padding-left: 200px;
}

.main ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main li{
    background-color: blueviolet;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
}

.menu li:hover{
    background-color:tomato;
    cursor: pointer;
}

.a{
    display: inline;
    background-color: green;
    border: 2px solid black;
    padding: 5px;
    width: 100px;
    height: 100px;
}

.b{
    display: inline-block;
    background-color: green;
    border: 2px solid black;
    padding: 5px;
    width: 100px;
    height: 100px;
}

.c{
    display: block;
    width: 100px;
    height: 100px;
    background-color: green;
    border: 2px solid black;
}

.navblock .nav{
    background-color: yellow;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.navblock .nav li{
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    font-size: 20px;
}

li a:hover{
    color: tomato;
}

.auto{
    border: 2px solid;
    margin: auto;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
}

.auto:hover{
    /* font-size: 20px; */
    color: burlywood;
}

.center{
    border: 2px solid;
    text-align: center;
}

.image{
    display: block;
    margin: auto;
}

.right{
    border: 2px solid;
    width: 250px;
    /* position: absolute; */
    right: 10px;
    height: 200px;
    padding: 12px;
}

.rightflo{
    padding: 10px;
    border: 4px solid;
    width: 300px;
    /* float: right; */
}

/* div{
    border: 3px solid;
    padding: 10px;
    margin: 10px;
} */

.img1{
    float: right;
}

.img2{
    float: right;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.pdcenter{
    border: 1px solid;
    padding: 60px 0px;
    text-align: center;
}

.centerfl{
    display: flex;
    border: 3px solid;
    justify-content: center;
    align-items: center;
    height: 200px;
}

p.hov{
    background-color: green;
    padding: 20px;
    display: none;
}

div.hove:hover p{
    display: flex;
}

p :first-child {
    color: turquoise;
}

.pseudo-element::first-line{
    color: red;
    /* font-variant: small-caps; */
    text-transform: capitalize;
}

.pseudo-element::first-letter{
    color: blueviolet;
    font-size: xx-large;
}

.before::before{
    content: url( "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS663s9ruCh11m3cN7Vu6CCfmv4U-Kx2pyRng&s" );
    width: 20px;
    height: 20px;
}

.opacity{
    opacity: 1;
}

.opacity:hover{
    opacity: 0.5;
}

/* div {
    background-color: #04AA6D;
    padding: 10px;
  }
  
  div.first {
    opacity: 0.1;
  }
  
  div.second {
    opacity: 0.3;
  }
  
  div.third {
    opacity: 0.6;
  } */


  div.background{
    border: 2px solid;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-K2Qe5N26HdG0jQWBEHxZYETyuxdBDUfhzA&s");
  }

  div.transbox{
    background-color: white;
    border: 1px solid;
    opacity: 0.6;
    margin: 40px;
  }

  div>.transbox>p{
    color: black;
    font-weight: bold;
    padding: 5%;
  }