/* contact form  */

#cont{
    /* border: 2p solid black; */
    background-color: lightblue;
    text-align: center;
}

#cont form{
    border: 2px solid black;
    border-radius: 10px;
}

#cont #subm{
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
}