
.box1{
    height: 200px;
    width: 200px;
    background-color: lightseagreen;
    border:10px solid black;
    padding: 20px;
    text-align: center;
}

.box2{
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: relative;
    left: 260px;
    border-color: solid black;
    border-top: 20px solid black;
    border-bottom: 20px solid black; 
    border-left: 10px solid black;
    border-right: 10px solid black;  
}

.box3{
    width: 200px;
    height: 200px;
    background-color: lightcoral;
    border: 10px solid black;
    position: relative;
    left: 40px;

}